/* FONTES IMPORTADAS */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
/* Figtree */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&display=swap');
/* AR One Sans */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Barlow Semi Condensed */

/* Reset Universal */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Efeito Deslizante no Scroll */
html{
    scroll-behavior: smooth;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: #e2e2e2;
    height: 100vh;
    margin: 0;
}

p {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
}

/* Pagina Home */

.cabecalho{
    font-family: "Figtree", sans-serif;
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.cabecalho-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-menu {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.cabecalho-menu li a{
    margin-left: 20px;
    color: white;
    text-decoration: none;
    transition: 0.1s;
}

.cabecalho-menu li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

.icone{
    fill: #fff;
    stroke: #fff;
    width: 30px;
}

.logo{
    width: 70px;
}

.banner{
    /* background-image: url(../IMG/streetwear.webp); */
    background-size: cover;
    height: 850px;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: background-image 1s ease-in-out;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(farthest-corner at center, transparent 0%, transparent 25%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 1;
}

/* Body */

.sessao-compras {
    padding: 20px;
}

.sessao-compras a {
    text-decoration: none;
    color: #000;
    transition: 0.5s ease;
}

.compras-titulo {
    font-family: "Figtree", sans-serif;
    color: #333;
    text-align: center;
}

.carrossel {
    position: relative;
    overflow: hidden;
}

.carrossel hr {
    align-items: center;
    border: none;
    height: 3px;
    width: 20%;
    background: linear-gradient(to right, transparent, #000, transparent);
    margin: 10px auto;
    border-radius: 5px;
}


.carrossel-lista {
    display: flex; 
}

.carrossel img {
    border-radius: 2px;
    background-size: cover;
    width: 90%;
    height: auto;
}

.carrossel-item {
    display: flex;
    text-align: center;
    min-width: 350px;
    margin: 10px;
    transition: 0.2s ease-in-out;
}

.carrossel-item:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* transform: translateY(-8px); */
}

.carrossel-item h3{
    font-family: "AR One sans", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

.carrossel-item p{
    font-weight: 500;
    font-size: 1.2em;
}

.btn-carrossel{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:rgba(117, 117, 117, 0.5);
    border:none;
    border-radius: 10%;
    padding:10px;
    cursor:pointer;
    color: #757575;
    transition: 0.5s ease;
}

.btn-carrossel:hover {
    background: rgba(68, 68, 68, 0.8);
    color: #fff;
}

.btn-anterior{
    left:0;
}

.btn-proximo{
    right:0;
}

.imagem-divisoria{
    width: 100%;
}

/* Footer */

footer {
    background: #000;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
}

.sumario {
    display: flex;
    position: relative;
    align-items: start;
    gap: 80px;
    justify-content: center;
}

.coluna {
    position: relative;
    width: 20%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.coluna-titulo{
    font-size: 1.1em;
    font-weight: 500;
    color: #fff;
}

.coluna ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    text-align: justify;
    gap: 10px;
    list-style: none;
}

.coluna ul li a{
    text-decoration: none;
    color: #fff;
}

footer p {
    padding: 20px;
}