/* Reset Universal */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    background-image: url(../IMG/streetwear.webp);
    background-size: cover;
    height: 500px;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: background-image 1s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e2e2e2;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #333;
    text-align: center;
}

p {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
}

/* Pagina Home */

.cabecalho{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
}
.cabecalho-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-menu {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.cabecalho-menu li a{
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

/* Body */

.sessao-compras {
    padding: 20px;
}

.sessao-compras a {
    text-decoration: none;
    color: #000;
    transition: 0.5s ease;
}

.compras-titulo {
    margin-bottom: 20px;
}

.carrossel {
    position: relative;
    overflow: hidden;
}


.carrossel-lista {
    display: flex; 
}

.carrossel img {
    border-radius: 2px;
    background-size: cover;
    width: 90%;
    height: auto;
}

.carrossel-item {
    display: flex;
    text-align: center;
    min-width: 350px;
    padding: 10px;
}

#imagem:hover {
    animation: aumentar ease-in-out 0.3s alternate;
}

@keyframes aumentar {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.04);
    }
}

.btn-carrossel{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:rgba(117, 117, 117, 0.5);
    border:none;
    border-radius: 10%;
    padding:10px;
    cursor:pointer;
    color: #757575;
    transition: 0.5s ease;
}

.btn-carrossel:hover {
    background: rgba(68, 68, 68, 0.8);
    color: #fff;
}

.btn-anterior{
    left:0;
}

.btn-proximo{
    right:0;
}

/* Footer */

footer {
    background: #000;
    color: #fff;
    text-align: center;
    margin: 30px 0;
}

footer p {
    padding: 20px;
}