/* Reset Universal */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    background-image: url(../IMG/Tenis.webp);
    background-size: cover;
    height: 500px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: background-image 1s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e2e2e2;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #333;
    text-align: center;
}

p {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: black
}

/* Pagina Home */

.cabecalho{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
}
.cabecalho-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-menu {
    display: flex;
}

.cabecalho-menu li a{
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

/* Body */

.sessao-compras {
    padding: 20px;
}

.sessao-compras a {
    text-decoration: none;
    color: #000;
}

.compras-titulo {
    margin-bottom: 20px;
}

.carrossel {
    position: relative;
    overflow: hidden;
}

.carrossel-lista {
    display: flex; 
}

.carrossel img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.carrossel-item {
    display: flex;
    text-align: center;
    min-width: 400px;
    padding: 10px;
}

/* Footer */

footer {
    background: #000;
    color: #fff;
    text-align: center;
    margin: 30px 0;
}

footer p {
    padding: 20px;
}